$gold: lighten(#977C55,10%);

html {
  height: 100%;
  padding: 2rem;
  padding: 2vw;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.wf-loading{
  h1,h2,h3,p,blockquote,ul{
    opacity:0;
  }
}
.wf-active{
  h1,h2,h3,p,blockquote,ul{
    animation: fade-in 2s cubic-bezier(.4,0,.1,1);
  }
}


body {
  background: url(apple-touch-icon.png) no-repeat center center;
  font-family: "mostra-nuova",sans-serif;
  font-size: 20px;
  padding: 2rem;
  padding: 2vw;

  &:before{
    content: '';
    border: 3px solid $gold;
    border-image: linear-gradient(135deg, lighten($gold,10%), darken($gold,10%)) 30 stretch;
    position: fixed;
    left: 2rem;
    top: 2rem;
    bottom: 2rem;
    right: 2rem;
    left: 2vw;
    top: 2vw;
    bottom: 2vw;
    right: 2vw;
    pointer-events: none;
    z-index: 100;
  }
}

p{
  line-height: 1.2;
}

section,
header{
  >p,nav{
    max-width: 20em;
    margin: 1em auto;
  }
  margin: 4rem 0;
  text-align: center;
}

.logo{
  filter: drop-shadow(10px 20px 6px rgba(0,0,0,0.2));
}

h1,h2,h3,h4{
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 700;
}
h3{
  font-size: 1.2rem;
}

.btn{
  position: relative;
  display: inline-block;
  padding: .5em 1em;
  margin: .5em;
  font-weight: bold;
  color: darken($gold,40%);
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-decoration: none;

  &.disabled{
    pointer-events: none;
    color: fade-out($gold,0.5);
    &,
    &:before,
    &:after{
      border: 2px solid fade-out($gold,0.75);
    }
  }

  &,
  &:before,
  &:after{
    border: 2px solid fade-out($gold,0.5);
    transition: all 0.2s cubic-bezier(.4,0,.1,1) 0s;
  }
  border-color: fade-out($gold,0.1);

  &:before,
  &:after{
    position: absolute;
    content: '';
  }
  &:before{
    left: -6px;
    right: -6px;
    top: 2px;
    bottom: 2px;
    transition-duration: .5s;
    border-color: fade-out($gold,0.6);
  }
  &:after{
    top: -6px;
    bottom: -6px;
    left: 2px;
    right: 2px;
    transition-duration: 1s;
    border-color: fade-out($gold,0.9);
  }

  &:hover{
    border-color: $gold;
    &:before{
      border-color: $gold;
    }
    &:after{
      border-color: $gold;
    }
  }

}

hr, .hr{
  width: 10%;
  margin: 6vw auto;
  border: 0;
  position: relative;
  border-top: 2px solid $gold;
  text-align: center;

  &:before,
  &:after{
    content: '';
    width: 33%;
    display: block;
    margin: 0 auto;
    border-top: 2px solid $gold;
    position: relative;
    top: -8px;
  }
  &:after{
    top: auto;
    bottom: -2px;
  }
}

header{
  padding: 1rem 0;
  >*{
    width: 50vw;
  }
  img{
    width:100%;
    height: auto;
  }
}

.club{
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  justify-content: space-around;
  >*{
    flex-grow: 1;
    padding: 0;
    max-width: 300px;
  }
  figure{
    position: relative;
    padding: 1rem;
    a{
      color: white;
      text-decoration: none;
      padding: .25em;
      .fa{
        font-size: 1.2em;
      }
    }
    img{
      max-width: 100%;
      height: auto;
      display: inline-block;
    }
    >.images{
      filter: brightness(1.05) grayscale(1) contrast(1.25);
      mask-image: url(/assets/image-mask.svg);
      mask-size: 100% 100%;
      display: block;
      position: relative;
      img{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
      img:first-child{
          position: relative;
          opacity: 1;
      }
    }
    h3{
      text-align: center;
      position: relative;

    }
    figcaption{
      position: absolute;
      top: 0;
      right:0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
      color: white;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: bold;
      opacity: 0;

      a{
        position: absolute;
        font-size: 1.5rem;
      }
      a:first-child{
        left: 1rem;
        top: 1rem;
      }
      a:nth-child(2){
        top: 1rem;
        right: 1rem;
      }
      a:nth-child(3){
        bottom: 1rem;
        left: 1rem;
      }
      a:nth-child(4){
        bottom: 1rem;
        right: 1rem;
      }
      p:first-child{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background: $gold;
        transform: translateY(100%);
      }
    }
    &:hover{
      background-color: lighten(#977C55,10%);
      color: white;
      figcaption{
        opacity: 1;
        display: block;
      }
      .images{
        img{
          opacity: 1;
        }
        img:first-child{
          opacity: 0;
        }
      }
    }

  }
}

section.images{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin:0 -5rem;
  margin:0 -4vw;
  overflow: hidden;

  >*{
    flex: auto;
    overflow: hidden;
    width: 33.3333vw;
    height: 24vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 100%;
    height: auto;
    display: block;
    margin:0;
    padding:0;
    border:0;
    filter: brightness(1.05) grayscale(1) contrast(1);
    transition: all .2s cubic-bezier(.4,0,.1,1);
    transform: scale(1.2);
    &:hover{
      filter: none;
      transform: scale(1.1  );
      mix-blend-mode: normal;
    }

  }
}


.seats{
  list-style: none;
  padding: 0;
  min-width: 66vw;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  >*{
    flex-grow: 1;
    padding: 1rem;
    max-width: 300px;
  }
  h3{
    small{
      display: block;
      text-transform: lowercase;
      opacity: 0.4;
    }
  }
  ul{
    text-align: left;
    list-style-type: none;
    padding-left: 0;
    li{
      &:before{
        content: '⬗';
        margin-right: .5em;
      }
    }
  }
}

@keyframes vibrant-in{
  0%{
    filter: brightness(1.05) grayscale(1) contrast(1.5);
  }
  100%{
    filter: none;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  section.images{
    flex-wrap: wrap;
    >*{
      width: 100%;
      height: 33vh;
    }
  }
  .club{
    >*{
      padding: 0;
    }
  }
}
